*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 1024px;
    margin: auto;
}
header{
    background: blue;
    height: 50px;
    margin-bottom: 10px;
    position: relative;
}
.banner {
    background: green;
    height: 400px;
    position: relative;
    /*margin-bottom: 10px;*/
}
nav{
    background: gray;
    height: 50px;
    position: relative;
    /*margin-bottom: 10px;*/
}
section{
    width: 1024px;
    height:217px;
    position: relative;
}
section div{
    width: 161px;
    height: 217px;
    margin: 10px 11.5px 10px 0px;
}
section div:nth-child(1){
    background: chartreuse;  
    float: left;
    margin-left: 0px;
}
section div:nth-child(2){
    background: chocolate;
    float: left;
}
section div:nth-child(3){
    background: crimson;
    float: left;
}
section div:nth-child(4){
    background: cyan;
    float: left;
}
section div:nth-child(5){
    background: darkmagenta;
    float: left;
}
section div:nth-child(6){
    background: darkviolet;
    float: right;
    margin-right: 0px;
}
footer{
    background: lightgreen;
    height: 50px;
    position: relative;
    clear: both;
}
